/**
 * Page name
 * Copyright 2017
 * Author
 * Licensed 
 */
/*------------------------------------*\
    Content
\*------------------------------------*/
/**
 * Content............You're reading it!
 * Globel...............Set common style
 * Layout...........Set grid
 * Components...........Set components styles
 */
 
 
/*------------------------------------*\
    Globel
\*------------------------------------*/
*{
	box-sizing: border-box;
	position: relative;
}
html,body{
	font-family: '微軟正黑體',arial;
}
h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}
/*------------------------------------*\
    container 
\*------------------------------------*/
.container{
	/*width: 100%;*/
	padding: 16px;
	margin: 0 auto;

	/*border: 1px solid #323232;*/
}

.hero{
	padding-top: 10px;
	padding-bottom: 10px;
}
.hero-gren{
	background-color: #fefefe;
}

.row {
  display: flex;
  margin-right: -16px;
  margin-left: -16px;
}
.row:after{
  content: '';
  display: block;
  clear: both;
  /*清除浮動*/
}
/*------------------------------------*\
    Layout - header
\*------------------------------------*/

.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: #cccccc;
	z-index: 500;
}
.navbar{
	max-width: 1440px;
	margin: auto;

	height: 50px;
	padding-left: 18px;
	padding-right: 18px;
	/*把LOGO推進去*/
}
.navbar .navbar__container{
	width: 90%;
	margin: 0 auto;
	padding-right: 16px;
	padding-left: 16px;
	height: 100%;
}
.navbar .navbar__container-2{
	margin: 0 auto;
	width: 80%;
	padding-right: 16px;
	padding-left: 16px;
	height: 100%;
	background-color: #f8a25c;
	transform: translate(0,-15%);
}
.brand{
	display: inline-block;
	width: 180px;
	height: 70%;
	transform: translate(0,10%);

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
	/*把文字隱藏起來*/
}
.navbar .nav-right{
	float: right;
}
.navbar .nav-left{
	float: left;
}
.navbar .nav-item{
	float: left;
}

.navbar .nav-right .nav-item .nav-link{
	display: inline-block;
	line-height: 10px;
	padding: 20px 16px;
	color: #fefefe;
	transition: all 0.3s;
}
.navbar .nav-right .nav-item .nav-link:hover{
	color: #323232;
}
.navbar .nav-left .nav-item .nav-link{
	display: inline-block;
	line-height: 10px;
	padding: 20px 16px;
	color: #fefefe;
	background-color: #f8a25c;
	transition: all 0.3s;
}
.navbar .nav-left .nav-item .nav-link:hover{
	color: #323232;	
}
.nav-link-black{
	display: inline-block;
	line-height: 10px;
	padding: 20px 16px;
	color: #fefefe;
	background-color: #f8a25c;
	transition: all 1s;
}
.nav-link-black:hover{
	background-color: #f60;
}

.navbar__container-s{
		display: none;
}
.popup .nav-left{
	display: none;
}
@media (max-width: 768px) {
	.navbar__container-2 .nav-right{
		display: none;
	}
}
@media (max-width: 425px) {
	.navbar__container .nav-right{
		display: none;
	}
	.navbar__container-2{
		display: none;
	}

}

@media (max-width: 425px){
	.brand{
		display: none;
	}
	.brand-m{
		display: inline-block;
		height: 120%;
		transform: translate(0,10%);

		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;

		white-space: nowrap;
		text-indent: 100%;
		overflow: hidden;
	}
}

/*------------------------------------*\
    Layout - RWD 三條線
\*------------------------------------*/
/* menu-toggle 三條線的定位 */
.menu-toggle{
	width: 48px;
	height: 48px;
	display: none;
	float: right;
	margin-top: -30px;
	padding: 12px 8px;

	z-index: 850;
}
.menu-toggle span{
	width: 32px;
	height: 2px;
	display: block;
	background-color: #d5a26f;
	margin-bottom: 8px;
/* 定位的特性 */
	position: absolute;
	left: 8px;

	transition: all 0.3s;
}
.menu-toggle span:nth-child(1){
	top: 12px;
}
.menu-toggle span:nth-child(2){
	top: 22px;
}
.menu-toggle span:nth-child(3){
	top: 32px;
}
.js-dropdown-btn.active span:nth-child(1){
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(45deg);
}
.js-dropdown-btn.active span:nth-child(2){
	opacity: 0;
	/* 透明度 */
}
.js-dropdown-btn.active span:nth-child(3){
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%) rotate(-45deg);
}

@media (max-width: 425px){
	.menu-toggle{
		display: block;
	}

	.navbar .nav-left{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f8a25c;
	z-index: 820;

	display: flex;
	flex-direction: column;
	justify-content: center;

	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
	}
	.js-dropdown-content.active{
		opacity: 1;
		visibility: visible;
	}
	.navbar .nav-left .nav-item{
		float: none;
	}
	.navbar .nav-left .nav-item .nav-link-black{
		width: 100%;
		padding: 12px 16px;
		text-align: center;
	}
}
/*------------------------------------*\
    Layout - jumbotron
\*------------------------------------*/
.jumbotron{
	max-width: 1920px;
	margin: auto;

	padding-top: 225px;
	padding-bottom: 160px;
	/*border: 1px solid #323232;*/
	
	/*背景圖*/
	background-position: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.jumbotron-text{
	margin-bottom: 16px;
}
.jumbotron-text .text-gray{
	padding: 5px;
}

/*------------------------------------*\
    text - color 亮色/深色
\*------------------------------------*/
.text{
	line-height: 1.5;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-1{
	line-height: 1.5;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* 讓文字後面切齊 */
	text-align: justify;
}
.text-2{
	line-height: 1.5;

	/* 讓文字後面切齊 */
	text-align: justify;
}
.text-3{
	text-align: justify;
}
.index_news .text-2{
	overflow: hidden;

	max-height: 170px;
}
.text-red-light{
	color: #ff5469;
}
.text-red-dusk{
	color: #b70b0b;
}
.text-orange-light{
	color: #f8a25c;
}
.text-orange-dusk{
	color: #f60;
}
.text-gray-light{
	color: #eee;
}
.text-gray-dusk{
	color: #cccccc;
}
.text-gray{
	color: #666;
}
.text-orange{
	color: #ec6c00;
}
.text-white-shadow{
	text-shadow: 1px 1px 3px rgb(250,250,250);
}
.text-black-shadow{
	text-shadow: 1px 1px 3px rgb(100,100,100);
}
/* 文字前面線條 */
.about{
	padding-left: 16px;
	line-height: 2;
}
.about:after{
	content: "";
	position: absolute;
	width: 4px;
	height: 24px;
	background-color: #f60;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
/*------------------------------------*\
    hero row
\*------------------------------------*/
/* section-intro */
.section-intro{
	text-align: center;
	margin-bottom: 40px;
	/*border: 1px solid #323232;*/
	background-color: #cccccc;
	border-radius: 14px;

	padding: 5%;
}
.img-container{
	width: 100%;
	display: block;
	position: relative;
}
.img-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 75%;
	background-color: #cccccc;
}
.img-container .news-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 14px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*------------------------------------*\
    avatar 頭相 (圓形圖片)
\*------------------------------------*/
.avatar{
	/* 確保是一個可調大小的圖*/
	display: inline-block;
	/* 撐到最大 */
	box-sizing: border-box;
	width: 100px;
	/* 多的隱藏 */
	overflow: hidden;

	background-color: #b2bac4;
	border: 1px solid #b2bac4;

	/* 圓形 */
	border-radius: 50%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	top: 0;
}
.avatar:before{
	/* 需要寫avatar上一層的高度*/
	content: '';
	display: block;
	/* 決定比例 */
	width: 100%;
	padding-top: 100%;
}
@media (max-width: 425px){
	.col-s-1-4{
		left: -10px;
		top: 20px;
	}
}
/* 頭相文字 */
.index_about .text.text-red-dusk{
	padding-top: 16px;
	padding-left: 24px;
}
.index_about .text.text-red-dusk:after{
	content: "";
	position: absolute;
	width: 4px;
	height: 20px;
	background-color: #b70b0b;
	left: 16px;
	top: 30px;
	transform: translateY(-50%);
}


.index_about .text-2.text-gray{
	padding-top: 16px;
	padding-left: 16px;
	line-height: 24px;
}

/*------------------------------------*\
    index_about
\*------------------------------------*/
.index_about .col-3-10 .musson{
	font-weight: bold;
	text-align: center;
}

.index_about .musson1{
	width: 100%;
	height: 2px;
	background-color: #f60;
	left: 0;
	top: 12px;
	transform: translateY(-50%);
}
.index_about .musson2{
    background-color: #fff;
    padding: 0 5px;
    font-weight: bold;

}

@media (max-width: 768px) {
	.index_about_2{
		text-align: center;
	}
	.index_about_2 .musson{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 24px;
	}
}
/*------------------------------------*\
    footer 結尾
\*------------------------------------*/
.footer{
	padding-top: 40px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	background-color: #f8a25c;
}

.index__footer .text__footer-1{
	display: inline-block;
	padding-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
}
.index__footer .text__footer-2{
	line-height: 24px;
	padding-bottom: 16px;
}
.index__footer .text__footer-3{
	font-size: 48px;
	padding-bottom: 16px;
}
.index__footer .text__footer-4{
	font-size: 48px;
	padding-bottom: 16px;
}
.index__footer .container .col-1-3{
	border-right: 1px solid #666;
}

.index__footer .container .col-1-3:nth-child(3){
	border-right: none;
}
@media (max-width: 768px){
	.index__footer .text__footer-4{
		font-size: 38px;
	}
}
@media (max-width: 425px){
	.footer{
		text-align: center;
	}
	.index__footer .text__footer-1{
		display: inline-block;
		padding-bottom: 5px;
		font-size: 20px;
		font-weight: 300;
	}
	.index__footer .text__footer-2{
		font-size: 12px;
	}
	.index__footer .text__footer-3{
		font-size: 18px;
	}
	.index__footer .text__footer-4{
		font-size: 36px;
	}
	.index__footer .container .col-1-3{
		border-right: none;
	}

	.index__footer .container .col-1-3:after{
		content: '';
		display: block;
		border-bottom: 1px solid #666;
	}
	.index__footer .container .col-1-3:nth-child(3){
		border-right: none;
		border-bottom: none;
	}
	.text-gray-s{
		color: #666;
		font-size: 10px;
		top: -20px;
	}
}